/**
 * Main Page
 */
.main {

}

.swiper-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
}

.slide-1 {
  background-color: #F3B05A;
}

.slide-2 {
  background-color: #F4874B;
}

.slide-3 {
  background-color: #F46A4E;
}
